.navbar {
    background-color: #EBF9FF;
}

.navbar img {
    width: 80px;
}

.container1 .container-photo img {
    width: 100%;
}

.navbar navbar-nav {
    justify-content: space-evenly !important;
    color: red !important;
}


.navbar nav-socials {
    float: right;
    flex-direction: row-reverse;
    list-style: none;
}

.navbar nav-item {
    font: 40px;
}

.social-link {
    color: #444 !important;
}

.container1 {
    background-color: #EBF9FF;

}


.container2 {
    background-color: #EBF9FF;

}

.container3 {
    background-color: #EBF9FF;

}

.modal-content {
    background-color: #EBF9FF !important;

}